@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

:root {
  --one: #142C3C;
  --two: #83A17D;
  --three: #e9e9e9;
  --four: #9fc495;
  --black:#000;
  --box-shadow: .9rem .9rem 2rem #094974;
  --border-bold:.5rem solid var(--black);


}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #244d4d;
}

section {
  padding: 3rem 9%;
}

.heading {
  background: #0d3957;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.heading h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.heading2 {
  text-align: center;
}

.heading p {
  color: #fff;
  font-size: 2rem;
}

.heading p span {
  color: #29d9d5;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: #29d9d5;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #244d4d;
  padding-bottom: 1.5rem;
}

.title span {
  font-size: 2.5rem;
  color: #094d4d;
}

.title a {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
}

.title a:hover {
  color: #244d4d;
}


.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 1.5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}
.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: rgb(219, 106, 31);
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.btn2 {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  background: #0f5c69;
  color: #fff;
  cursor: pointer;
}

.btn2:hover {
  background: #03517ede;
}


.header-1 {
  background-color: #142C3C;
}

.header-1 .flex {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}



.header-1 .flex .share a {
  font-size: 2.5rem;
  margin-right: 1.5rem;
  color: #f5f5f5;
}

.header-1 .flex .share a:hover {
  color: var(--purple);
}

.header-1 .flex p {
  font-size: 2rem;
  color: #fff;
}

.header-1 .flex p a {
  color: #16e4e4;
}

.header-1 .flex p a:hover {
  text-decoration: underline;
  color: rgb(26, 173, 184);
}



.header {
  padding: 2rem 9%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #12344b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: var(--box-shadow);

}

.header .logo {
  font-size: 2.5rem;
  color: var(--three);
  font-weight: bolder;
}


.header .logo i {
  padding-right: .3rem;
}

.header .search-form {
  height: 5rem;
  width: 50rem;
  border-radius: 5rem;
  background: var(--one);
  color: var(--three);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.1rem solid #ffffff;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: none;
  background-color: var(--one);
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.7rem;
  cursor: pointer;
  color: #ffffff;
}

.header .search-form label:hover {
  color: rgb(255, 255, 255);
}

.header .icons div {
  margin-left: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #fdfdfd;
}

.header .icons div:hover {
  color: #1b6fa7;
}

#search-btn {
  display: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}

#closer {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000;
  color: var(--three);
  -webkit-animation: rotate .4s linear .4s backwards;
  animation: rotate .4s linear .4s backwards;
  display: none;
}

#closer:hover {
  color: var(--two);
}

.navbar {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: var(--one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.navbar.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.navbar a {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--three);
}

.navbar a:hover {
  color: var(--two);
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: var(--one);
  padding: 2rem;
  padding-top: 8rem;
  overflow-y: scroll;
}

.shopping-cart.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.shopping-cart::-webkit-scrollbar {
  width: 1rem;
}

.shopping-cart::-webkit-scrollbar-track {
  background: #fff;
}

.shopping-cart::-webkit-scrollbar-thumb {
  background: #244d4d;
}

.shopping-cart .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem;
  color: #779;
  cursor: pointer;
}

.shopping-cart .box .fa-times:hover {
  color: #244d4d;
}

.shopping-cart .box img {
  height: 8rem;
}

.shopping-cart .box .content h3 {
  color: #f8f8f8;
  font-size: 1.8rem;
  padding-bottom: .5rem;
}

.shopping-cart .box .content span {
  font-size: 1.5rem;
  color: rgb(189, 189, 189);
}

.shopping-cart .box .content span.multipy {
  margin: 0 1rem;
}

.shopping-cart .total {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--three);
}

.shopping-cart .total span {
  color: var(--four);
}

.shopping-cart .btn {
  width: 100%;
  text-align: center;
  background-color: #0f5c69;
  color: var(--three);
}

.account {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: var(--one);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.account.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.account form {
  padding: 1.7rem;
  border: 0.1rem solid #dbdbdb;
}

.account form h3 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
  color: #eee;
}

.account form .box {
  width: 100%;
  text-transform: none;
  font-size: 1.5rem;
  color: #244d4d;
  padding: 1rem 1.2rem;
  border: 0.1rem solid #244d4d;
  margin: .7rem 0;
}

.account form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
}

.account form .remember label {
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #779;
}

.account form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.account form .btn2 {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.account form p {
  padding-top: 1rem;
  font-size: 1.4rem;
  color: #779;
}

.account form p a {
  color: #244d4d;
}

.account form p a:hover {
  text-decoration: underline;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
    opacity: 0;
  }
}

.home {
  position: relative;
  background-color: #12344b;
  height: 80rem;
}

.home .slides-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}

.home .slides-container .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slides-container .slide .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  -webkit-animation: fadeLeft .4s linear .4s backwards;
  animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span {
  font-size: 2.5rem;
  color: #779;
}

.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #f5f5f5;
  padding-top: .5rem;
}

.home .slides-container .slide .content p {
  font-size: 1.9rem;
  color: rgb(201, 201, 201);
  padding: .5rem 0;
  line-height: 2;
}

.home .slides-container .slide .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  padding: 3rem 0;
}

.home .slides-container .slide .image img {
  width: 100%;
  -webkit-animation: fadeOut .4s linear;
  animation: fadeOut .4s linear;
}

.home #slide-next,
.home #slide-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #244d4d;
  text-align: center;
  background: #fff;
  cursor: pointer;
}

.home #slide-next:hover,
.home #slide-prev:hover {
  background: #244d4d;
  color: #fff;
}

.home #slide-next {
  right: 2rem;
}

.home #slide-prev {
  left: 2rem;
}



.heading2 {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading2 span {
  color: #0c2e2e;
  text-transform: uppercase;
}
.blogs{
  background-color: #094974;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  background: #142C3C;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  display: inline-block;
  background: #068899ec;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: #fff;
}

.blogs .box-container .box .content .icons a:hover {
  color: #16e4e4;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: #16e4e4;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #29d9d5;
  font-weight: normal;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  line-height: 2;
}



.footer {
  background: #142C3C;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--four);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.6rem;
  color: rgb(143, 218, 236);
  padding-bottom: 1rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: #e9e9e9;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #16e4e4;
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
  margin: .7rem 0;
  border: 0.1rem solid #147dc4;
}

.credit {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  /* border: 0.5rem solid #0f67a1; */
  background: #12344b;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .header-1 .flex {
    padding: 2rem;
  }

  .home #slide-next,
  .home #slide-prev {
    top: 95%;
  }

  .home #slide-prev {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }

  .header .search-form {
    position: absolute;
    top: -991%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .header .search-form.active {
    top: 80%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slides-container .slide .content h3 {
    font-size: 4rem;
  }

  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 1rem;
  }
}